* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.box-1 {
    min-width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, #a71b1b, #090909 90%);
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.counter {
    font-size: 6.5rem;
    color: #fff;
    margin-top: 0px;
}

.content-1,
.content-2 {
    display: flex;
    flex-direction: column;
    font-stretch: all;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.image {
    margin-bottom: 50px;
    height: 200px;
    width: 130px;
    transition-duration: 1.3s;
}

.image:hover {
    height: 300px;
    width: 195px;
}

.pt-1,
.pt-2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: 25px;
}

.pt-1 {
    color: red;
}

.pt-2 {
    color: blue;
}

.table {
    background-image: linear-gradient(to right, #090909, #a71b1b 90%);
    color: #fff;
}